[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "==3.10.3"
pytz = "==2019.2"
sqlparse = "==0.3.0"
Django = "==2.2.5"
django-tastypie = "*"
python-mimeparse = "*"
python-dateutil = "*"

[requires]
python_version = "3.7"
